@import './common/var.scss';
@import './mixins/mixins.scss';

@include blockquote(tree) {
  margin-left: 100px;

  .hw-tree-node {
    &.hw-tree-no-expand {
      .hw-icon {
        visibility: hidden;
      }
    }
    .hw-icon {
      transition: all .3s;
    }
    .arrow-down {
      transform: rotate(90deg);
    }
  }

  .hw-tree-label {
    color: #333333;
    .iconfont {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .icon-loading {
      animation: rotate 1.5s linear infinite;
    }
  }
  .hw-tree-list {
    padding-left: 20px;
  }
}
