@import './common/var.scss';
@import './mixins/mixins.scss';

@include blockquote(tree) {
  position: relative;

  .hw-tree-node {
    &.hw-tree-no-expand {
      .hw-icon {
        visibility: hidden;
      }
    }
    .hw-icon {
      transition: all .3s;
    }
    .arrow-down {
      transform: rotate(90deg);
    }
  }
  .hw-tree-draggable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: element;
    cursor: pointer;
  }
  .hw-tree-indicator{
    position: absolute;
    height: 1px;
    right:0;
    left:0;
    background-color:#409eff;
  }

  .hw-tree-label {
    color: #333333;
    .iconfont {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .icon-loading {
      animation: rotate 1.5s linear infinite;
    }
  }
  .hw-tree-list {
    padding-left: 20px;
  }
}
